* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  background-color: black;
  font-family: "Roboto", sans-serif;
}
.body-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: 0 auto;
  max-width: 1130px;
  width: 100%;
  background-color: rgb(238, 238, 238);
}
/* -------------------------------------------------------------------------- */
/*                                   NAV-BAR                                  */
/* -------------------------------------------------------------------------- */
.nav-container {
  height: 50px;
  display: flex;
  background-color: #394b64;
}
.logo {
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
}
.link > a {
  font-size: 18px;
  color: #e5e7eb;
}
ul,
a {
  text-decoration: none;
  list-style: none;
}
.nav-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 160px;
}
.links-wrap {
  display: flex;
  gap: 15px;
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
.header-container {
  height: 365px;
  display: flex;
  background-color: #1f2937;
}

/* -------------------------------------------------------------------------- */
/*                                    INFO                                    */
/* -------------------------------------------------------------------------- */
.info-container {
  height: 390px;
  display: flex;
  background-color: white;
}
/* -------------------------------------------------------------------------- */
/*                                    QUOTE                                   */
/* -------------------------------------------------------------------------- */
.quote-container {
  flex: 1.2;
  display: flex;
  background-color: #e5e7eb;
}
/* -------------------------------------------------------------------------- */
/*                                   SIGN-UP                                  */
/* -------------------------------------------------------------------------- */
.signup-container {
  flex: 1;
  display: flex;
  background-color: white;
}
/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
.footer-container {
  height: 80px;
  display: flex;
  background-color: #1f2937;
}
