* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  background-color: black;
}
.body-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: 0 auto;
  max-width: 1130px;
  background-color: rgb(238, 238, 238);
}
/* -------------------------------------------------------------------------- */
/*                                   NAV-BAR                                  */
/* -------------------------------------------------------------------------- */
.nav-container {
  height: 50px;
  display: flex;
  background-color: #394b64;
}
/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
.header-container {
  height: 365px;
  display: flex;
  background-color: #1f2937;
}
/* -------------------------------------------------------------------------- */
/*                                    INFO                                    */
/* -------------------------------------------------------------------------- */
.info-container {
  height: 390px;
  display: flex;
  background-color: white;
}
/* -------------------------------------------------------------------------- */
/*                                    QUOTE                                   */
/* -------------------------------------------------------------------------- */
.quote-container {
  flex: 1.2;
  display: flex;
  background-color: #e5e7eb;
}
/* -------------------------------------------------------------------------- */
/*                                   SIGN-UP                                  */
/* -------------------------------------------------------------------------- */
.signup-container {
  flex: 1;
  display: flex;
  background-color: white;
}
/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
.footer-container {
  height: 80px;
  display: flex;
  background-color: #1f2937;
}
