* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100dvh;
  background-color: black;
  font-family: "Roboto", sans-serif;
}
.body-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: 0 auto;
  max-width: 1130px;
  width: 100%;
  background-color: rgb(238, 238, 238);
}
/* -------------------------------------------------------------------------- */
/*                                   NAV-BAR                                  */
/* -------------------------------------------------------------------------- */
.nav-container {
  height: 50px;
  display: flex;
  background-color: #1f2937;
}
.logo {
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
}
.link > a {
  font-size: 18px;
  color: #e5e7eb;
}
ul,
a {
  text-decoration: none;
  list-style: none;
}
.nav-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 160px;
}
.links-wrap {
  display: flex;
  gap: 15px;
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
.header-container {
  height: 365px;
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
}
.header-h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}
.header-p,
.header-img {
  font-size: 18px;
  color: #e5e7eb;
}
.header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 160px;
}
.left-wrap,
.right-wrap {
  width: 50%;
}
.left-wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.right-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d747d;
  align-self: stretch;
}
.header-img {
  color: white;
}
.header-button {
  align-self: flex-start;
  font-weight: bolder;
  border: none;
  background-color: #3882f6;
  color: white;
  padding: 7px 28px;
  border-radius: 8px;
  margin-top: 5px;
}
/* -------------------------------------------------------------------------- */
/*                                    INFO                                    */
/* -------------------------------------------------------------------------- */
.info-container {
  height: 390px;
  display: flex;
  background-color: white;
}
.info-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.info-p {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding-top: 30px;
}
.box-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.item-wrap {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 5px;
}
.box {
  border: 3px solid #3882f6;
  border-radius: 10px;
  aspect-ratio: 1;
  width: auto;
}
.box-p {
  width: auto;
  text-align: center;
}
/* -------------------------------------------------------------------------- */
/*                                    QUOTE                                   */
/* -------------------------------------------------------------------------- */
.quote-container {
  flex: 1.2;
  display: flex;
  background-color: #e5e7eb;
}
.quote-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 150px;
  gap: 5px;
}
p.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}
p.author {
  align-self: flex-end;
  padding-right: 35px;
  font-weight: bolder;
  font-size: 20px;
}
/* -------------------------------------------------------------------------- */
/*                                   SIGN-UP                                  */
/* -------------------------------------------------------------------------- */
.signup-container {
  flex: 1;
  display: flex;
  background-color: white;
}
.signup-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  background-color: #3882f6;
  border-radius: 6px;
  margin: 80px 160px;
}
.p1,
.p2 {
  color: #f9faf8;
}
.p1 {
  font-size: 18px;
  font-weight: bolder;
}
.sign-button {
  color: #f9faf8;
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  padding: 7px 28px;
  border-radius: 8px;
}
/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
.footer-container {
  height: 80px;
  display: flex;
  background-color: #1f2937;
}
.footer-wrap {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright,
.symbol {
  color: #e5e7eb;
}
.symbol {
  padding: 0 5px;
}
